# Título 1
## Título 2
###### Título 6

![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")

```javascript
var s = "JavaScript syntax highlighting";
alert(s);
```
 
```python
s = "Python syntax highlighting"
print s
```
 
```
No language indicated, so no syntax highlighting. 
But let's throw in a <b>tag</b>.
```

var s = "JavaScript syntax highlighting";
alert(s);

s = "Python syntax highlighting"
print s

In [1]:
print("Hola Mundo")

Hola Mundo

In [2]:
# No tipado!
# Variables Primitivas
entero = 4
decimales = 1.1
nombre = "Danny"
segundo_nombre = "Sebastián"  # segundoNombre está mál, no se debe usar CamelCase
apellido = 'Díaz'
casado = False
estudiante = True
hijos = None

print(type(entero))
print(type(decimales))
print(type(nombre))
print(type(segundo_nombre))
print(type(apellido))
print(type(casado))
print(type(estudiante))
print(type(hijos))
print(type(float("nan")))  # Not a number

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>
<class 'float'>

In [11]:
cadena_de_texto = """

Lorem ipsum dolor sit amet, 
consectetur adipiscing elit, 
sed do eiusmod tempor incididunt ut 
labore et dolore magna aliqua. 

At elementum eu facilisis sed odio morbi quis. 
In arcu cursus euismod quis viverra nibh. 
Condimentum mattis pellentesque id nibh 
tortor id aliquet lectus proin. Aenean euismod 
elementum nisi quis eleifend. Integer malesuada 
nunc vel risus commodo viverra maecenas accumsan.
Eget lorem dolor sed viverra. Vitae tempus quam pellentesque nec nam aliquam sem et. Pellentesque adipiscing commodo elit at imperdiet dui accumsan sit. Augue eget arcu dictum varius duis at. Cursus risus at ultrices mi.

"""

print(cadena_de_texto)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt ut
labore et dolore magna aliqua.

At elementum eu facilisis sed odio morbi quis.
In arcu cursus euismod quis viverra nibh.
Condimentum mattis pellentesque id nibh
tortor id aliquet lectus proin. Aenean euismod
elementum nisi quis eleifend. Integer malesuada
nunc vel risus commodo viverra maecenas accumsan.
Eget lorem dolor sed viverra. Vitae tempus quam pellentesque nec nam aliquam sem et. Pellentesque adipiscing commodo elit at imperdiet dui accumsan sit. Augue eget arcu dictum varius duis at. Cursus risus at ultrices mi.

In [3]:
print(entero)
entero = decimales
entero = hijos
entero = casado
entero = nombre
print(entero)

4
Danny

In [3]:
# Condiciones
# Truty - Falsy

tuplas = (1, 2, 3)  # Arreglos que no se pueden modificar
lista = [1, 2, 3] # Arreglos que se pueden modificar
diccionario = {
    "nombre": "Danny"
}

if 'Danny':
    print('Truty')
else:
    print('Falsy')
    
    
if '':
    print('Truty')
else:
    print('Falsy')

Truty
Falsy
16-06-2020
Falsy
Truty
Falsy
Truty
Falsy

In [8]:
# clase 16-06-2020

print('16-06-2020')

nulo = None
if nulo:  # Falsy
    print('Truty')
else:
    print('Falsy')
    
if 1:  # Truty
    print('Truty')
else:
    print('Falsy')

if 0:  # Falsy
    print('Truty')
else:
    print('Falsy')
    
if -1:  # Truty
    print('Truty')
else:
    print('Falsy')
    
if -1.1:  # Truty
    print('Truty')
else:
    print('Falsy')
    
if 1.2:  # Truty
    print('Truty')
else:
    print('Falsy')

if ():  # Falsy
    print('Truty')
else:
    print('Falsy')
    
if tuplas:  # Truty
    print('Truty')
else:
    print('Falsy')
    
if []:  # Falsy
    print('Truty')
else:
    print('Falsy')
    
if [1, 2, 3]:  # Truty
    print('Truty')
else:
    print('Falsy')
    

if {}:  # Falsy
    print('Truty')
else:
    print('Falsy')
    
    
nombre = "nombre"
if {nombre: "Danny"}:  # Truty
    print('Truty')
else:
    print('Falsy')

16-06-2020
Falsy
Truty
Falsy
Truty
Truty
Truty
Falsy
Truty
Falsy
Truty
Falsy
Truty

In [9]:
arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
arreglo[0:3]  # [0, 3]
arreglo[5:]  # Hasta el final
arreglo[:7]  # Desde el principio
arreglo[-10]  # El índice negativo empieza por el final y en -1
arreglo[3:-2]
arreglo[-8:8]
arreglo[-4:-1]
arreglo[-7:]
arreglo[:-3]
arreglo[:]  # Toma todo el arreglo, es util para clonar

arreglo_tupla = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
arreglo_tupla[5:9]

diccionario = {
    "nombre": "Danny",
    "apellido": "Díaz",
    "sueldo": 1.2,
}

diccionario["nombre"]
diccionario["apellido"]
diccionario["sueldo"]

1.2

In [33]:
print(12 in arreglo)
print(3 in tuplas)
print("nombre" in diccionario)

False
True
True

In [32]:
print(len(arreglo))
print(len(arreglo_tupla))
print(len(diccionario))

10
10
3

In [36]:
# arreglo_tupla[0] = 2
arreglo[0] = 2

In [37]:
# arreglo.pop
# arreglo.append
# arreglo.insert

In [42]:
print("Lista")
for numero_lista in arreglo:
    print(numero_lista)

print("Tupla")
for numero_lista in arreglo_tupla:
    print(numero_lista)

print("Diccionario")
for key in diccionario:
    print(key)

Lista
2
2
3
4
5
6
7
8
9
10
Tupla
1
2
3
4
5
6
7
8
9
10
Diccionario
nombre
apellido
sueldo

In [44]:
contador = 0
while contador < 10:
    print(contador)
    contador += 1

0
1
2
3
4
5
6
7
8
9

In [45]:
# Las llaves deben ser strings en lo posible
danny = {
    True: "Danny",  # no utilizar, porque tiene comportamiento raro
    False: "Díaz",  # no utilizar, --------------------------------
    1: 12.2,
    1.1: 89,
    'edad': 31,
    'mascotas': [{"nombre": "cachetes"}],
    None: None
}

In [49]:
danny['edad'] = 22
danny['apellido'] = 'Díaz'  # este es un nuevo valor
danny['mascotas'][0]['nombre'] = 'Panda'

In [51]:
print(danny)

{True: 12.2, False: 'Díaz', 1.1: 89, 'edad': 22, 'mascotas': [{'nombre': 'cachetes'}], None: None, 'apellido': 'Díaz'}

In [56]:
print(type(danny.keys()))
print(danny.keys())

<class 'dict_keys'>
dict_keys([True, False, 1.1, 'edad', 'mascotas', None, 'apellido'])

In [53]:
danny.values()

dict_values([12.2, 'Díaz', 89, 22, [{'nombre': 'cachetes'}], None, 'Díaz'])

In [57]:
for llave in danny.keys():
    print(llave)

True
False
1.1
edad
mascotas
None
apellido

In [58]:
for valor in danny.values():
    print(valor)

12.2
Díaz
89
22
[{'nombre': 'cachetes'}]
None
Díaz

In [61]:
print(1 == 1 or 2 == 2)

True

In [62]:
print(1 != 1 and 2 != 2)

False